<h1>Chomp Burgers!</h1>

<h2>Make a Burger</h2>
<form class="create-form">
  <div class="form-group">
    {{!-- <label for="burg">hamburger</label> --}}
    <input type="text" id="burg" name="name">
    <button type="submit">Add Burger</button>
  </div>

  
</form>

<div class="showBurgers">

  <div class="uneaten">
    {{#each burgers}}
      {{#unless devoured}}
        {{> burgers/burger-block eaten=true}}
      {{/unless}}
    {{/each}}
  </div>

</div>

<div class="eaten">
  <h2 id="devouredTitle">DEVOURED</h2>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block eaten=false}}
    {{/if}}
  {{/each}}
</div>
