body {
  background-image: url("../img/burger-image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  /* font-family: 'Abril Fatface'; */
  font-family: 'Permanent Marker', cursive;
}

.uneaten {
  margin: 10px;
}

.eaten {
  position: fixed;
  top: 0;
  right: 0;
}

/* #devouredTitle {
  text-align: center;
  font-size: 40px;
} */

